
@{
    ViewBag.Title = "CallforPaper";
}

<h4>Call for Paper</h4>
<p>
    IJERTS welcomes the authors to submit their journals with an aim to exchange and spread the latest researches, innovations and
    extended applications via online and printed monthly publications.
</p>
<hr>

<h5>Call for Papers - Dec 2018 Edition (Volume 1, Issue 1)</h5>
<p>
    IJERTS is an open access journal that is currently accepting manuscripts for
    publication in following fields but not limited to:
</p>

<div class="row">
    <div class="col-md-4">
        <p>Aeronautical Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Agricultural Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Chemical Engineering</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Computer Science & Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Electronics & Communications Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Civil Engineering</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Electrical Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Engineering Chemistry</p>
    </div>
    <div class="col-md-4">
        <p>Engineering Management</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Engineering Physics</p>
    </div>
    <div class="col-md-4">
        <p>Engineering Sciences</p>
    </div>
    <div class="col-md-4">
        <p>Engineering Maths</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Industrial Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Instrumentation Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Mechanical Engineering</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Nano Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Natural Sciences, Humanities</p>
    </div>
    <div class="col-md-4">
        <p>Network Engineering</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Software Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Structural Engineering</p>
    </div>
    <div class="col-md-4">
        <p>Systems Engineering</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Telecommunication Engineering</p>
    </div>
    <div class="col-md-8">
        <p>and many more ...</p>
    </div>
</div>
<br />
<p><span>Last Date of Online Submission: 25th Dec 2018</span></p>

<p>Online Journal Publication (December Edition) starts: 01st December 2018</p>

<p>Manuscript must be submitted at Online Only</p>
