
@{
    ViewBag.Title = "CompleteRegister";
}

<h4>@TempData["ReviewerRegisterHeading"]</h4>
<h4>@TempData["ReviewerRegisterMessage"]</h4>
<input type="submit" value="Back" id="btnBack" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Editor")'" />