
@{
    ViewData["Title"] = "Index";
}

<h4>Join as Reviewer</h4>
<p>The International Journal of Engineering Research and Technology Science (IJERTS) welcomes competent academicians to join us as reviewers. </p>

<p>Being a reviewer is a matter of prestige and personnel achievement. </p> 
<p>IJERTS follows a strict set of guidelines while accepting the applicant as a reviewer of IJERTS. </p>

<p>The minimum set of qualifications for being a reviewer of IJERTS are listed below:</p>
<ul>
    <li><p>Should be a holder of PhD degree from a recognized university.</p></li>
    <li><p>Should be an author with a minimum of a 4 publications in reputed journals.</p></li>
</ul>

