
@{
    ViewData["Title"] = "Responsiblities";
}


<h3>Responsibilities of Reviewers</h3>
<br />
<h4>Confidentiality</h4>
<p>Reviewers should not share any information from an assigned manuscript with outsiders without the prior permission from the Editor or preserve the data from an assigned manuscript.
</p>
<h4>Competence</h4>
<p>Reviewer with fair expertise should complete the review.</p>
<p>
    Assigned Reviewer with inadequate expertise should feel responsible and may decline the review as it is presumed that reviewer will be an expert in the respective field.
</p>
<h4>Constructive assessment</h4>
<p>
    Reviewer comments should appreciate positive aspects of the work, identify negative aspects constructively, and indicate the enhancement needed. A reviewer should explain and support his or her judgment clearly enough that
</p>
<p>
    Editors and Authors can understand the basis of the comments.
</p>
<p>
    The reviewer should ensure that an observation or argument that has been previously reported be accompanied by a relevant citation and should immediately alert the Editor when he or she becomes aware of duplicate publication.
</p>
<p>
    A reviewer should not use any kind of abusive language while commenting on an article.
</p>
<p>
    Judgment of each article should be done without any bias and personal interest by the assigned reviewer.
</p>
<h4>Impartiality and Integrity</h4>
<p>
    Reviewer’s decision should solely depend on scientific merit, relevance to the subject, scope of the journal rather than financial, racial, ethnic origin etc., of the authors.
</p>
<h4>Disclosure of conflict of interest</h4>
<p>
    To the extent feasible, the reviewer should minimize the conflict of interest. In such situation, reviewer should notify the editor describing the conflict of interest.
</p>
<h4>Timeliness and responsiveness</h4>
<p>
    Reviewers should morally abide to provide the review comments within the stipulated time and be active enough in responding to the queries raised by the editor if any.
</p>
