@model Tuple<List<IJERTS.Objects.Paper>, List<IJERTS.Objects.Users>> 
@{
    ViewData["Title"] = "Dashboard";
}

<h4>Dashboard</h4>
<br />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#managepaper">Manage Papers</a></li>
    <li><a data-toggle="tab" href="#managereviewer">Manage Reviewer</a></li>
    <li><a data-toggle="tab" href="#managequeries">Manage Queries</a></li>
</ul>

<div class="tab-content">
    <div id="managepaper" class="tab-pane fade in active">
        @Html.Partial("_ManagePaper", Model.Item1)
    </div>
    <div id="managereviewer" class="tab-pane fade">
        @Html.Partial("_ManageReviewer", Model.Item2)
    </div>
    <div id="menu2" class="tab-pane fade">
        @Html.Partial("_ManageQueries")
    </div>
</div>


